In [1]:
l = [1,2,3]
l[0]

1

In [2]:
t = (1,2,3)
t[0]

1

In [3]:
s = '123'
s[0]

'1'

In [13]:
l = ['Arka', 'Rana', 'Kajal', 'Trina']

In [14]:
l

['Arka', 'Rana', 'Kajal', 'Trina']

In [15]:
a = l[0]
a

'Arka'

In [16]:
r = l[1]

In [17]:
r

'Rana'

In [18]:
k=l[2]
k

'Kajal'

In [19]:
t=l[3]
t

'Trina'

In [20]:
a += ' Roy'
a

'Arka Roy'

In [21]:
l

['Arka', 'Rana', 'Kajal', 'Trina']

In [22]:
a

'Arka Roy'

In [23]:
l[2] += ' Roy'

In [24]:
l

['Arka', 'Rana', 'Kajal Roy', 'Trina']

In [25]:
k

'Kajal'

In [26]:
k = [l,[1,2,3], [4,5,6]]
k

[['Arka', 'Rana', 'Kajal Roy', 'Trina'], [1, 2, 3], [4, 5, 6]]

In [27]:
j = k[1]
j

[1, 2, 3]

In [28]:
j=[6,7,8]

In [29]:
j

[6, 7, 8]

In [30]:
k

[['Arka', 'Rana', 'Kajal Roy', 'Trina'], [1, 2, 3], [4, 5, 6]]

In [31]:
m=k
m

[['Arka', 'Rana', 'Kajal Roy', 'Trina'], [1, 2, 3], [4, 5, 6]]

In [32]:
m[1] = [6,7,9]
m

[['Arka', 'Rana', 'Kajal Roy', 'Trina'], [6, 7, 9], [4, 5, 6]]

In [33]:
k

[['Arka', 'Rana', 'Kajal Roy', 'Trina'], [6, 7, 9], [4, 5, 6]]

In [34]:
s = 'arka'
s

'arka'

In [35]:
s1 = s
s1

'arka'

In [36]:
s1 = 'trina'
s1

'trina'

In [37]:
s

'arka'