In [1]:
mylist = [1,2,3]

In [2]:
mylist.append(4)

In [3]:
mylist

[1, 2, 3, 4]

In [4]:
mylist.pop()

4

In [5]:
mylist

[1, 2, 3]

In [6]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [7]:
def name_function():
    """
    Prints hello to the terminal. Takes no arguments.
    """
    print('Hello')

In [8]:
name_function()

Hello

In [11]:
def say_hello(name = 'NAME'):
    print('hello {}'.format(name))

In [13]:
say_hello('arka')

hello arka

In [14]:
result = say_hello('arka')

hello arka

In [15]:
result

In [16]:
type(result)

NoneType

In [17]:
def say_hello(name = 'NAME'):
    return 'hello {}'.format(name)

In [18]:
result = say_hello('arka')
result

'hello arka'

In [19]:
def add(n1,n2):
    return n1+n2

In [20]:
result = add(20,30)
result

50

In [21]:
# Find out of the word 'dog' is in the string

In [28]:
def dog_check(my_string):
    return 'dog' in my_string.lower()

In [30]:
dog_check('My dog ran away')

True

# PIG LATIN
- If word starts with a vowel, add 'ay' to end
- If word does not start with a vowel, put first letter at the end, then add 'ay'
- word --> ordway
- apple -->appleay

In [34]:
def pig_latin(my_string):
    if my_string[0] in 'aeiou':
        return my_string + 'ay'
    else:
        return my_string[1:] + my_string[0] + 'ay'

In [35]:
pig_latin('apple')

'appleay'

In [36]:
pig_latin('word')

'ordway'

In [39]:
# Exercises

In [40]:
def myfunc():
    print('Hello World')

In [43]:
def myfunc(name):
    print('Hello {}'.format(name))

In [44]:
def myfunc(value):
    if a:
        return 'Hello'
    return 'Goodbye'

In [46]:
def myfunc(x,y,z):
    if z==True:
        return x
    elif z==False:
        return y

In [47]:
def myfunc(a,b):
    return a+b

In [48]:
def is_even(n):
    return n%2 == 0

In [49]:
def is_greater(a,b):
    return a>b

In [53]:
# *args and **kwargs in python

In [56]:
def myfunc(a,b, c=0,d=0,e=0):
    #Returns 5% of the sum of a and b
    return sum((a,b,c,d,e))*0.05

In [58]:
myfunc(40,60,100,100,3)

15.15

In [61]:
# *args - tuple of arguments
def myfunc(*args):
    print(args)
    return sum(args) * 0.05

In [62]:
myfunc(40,60,100,100,3,50)

(40, 60, 100, 100, 3, 50)

17.650000000000002

In [63]:
def myfunc(*args):
    for item in args:
        print(item)

In [64]:
myfunc(40,60,100,100,3,50)

40
60
100
100
3
50

In [67]:
# *kwargs - keyword arguments, dictionary of arguments
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print("My fruit of choice is {}".format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [68]:
myfunc(fruit='apple', veggie = 'lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
My fruit of choice is apple

In [70]:
def myfunc(*args, **kwargs):
    print(args)
    print(kwargs)
    print('I would like to {} {}'.format(args[0],kwargs['food']))

In [72]:
myfunc('eat',20,30,fruit='orange', food='eggs', animal='dog')

('eat', 20, 30)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'dog'}
I would like to eat eggs

In [73]:
# Exercises

In [74]:
def myfunc(*args):
    return sum(args)

In [79]:
def myfunc(*args):
    lst = []
    for item in args:
        if item%2==0:
            lst.append(item)
    return lst

In [80]:
myfunc(40,60,100,100,3,50)

[40, 60, 100, 100, 50]

In [86]:
def myfunc(word):
    count=1
    return_string = ''
    for ch in word:
        if count%2==0:
            return_string += ch.upper()
        else:
            return_string += ch.lower()
        count+=1
    return return_string

In [87]:
myfunc("ArkaRoy")

'aRkArOy'

# Practice Exercises

In [88]:
def lesser_of_two_evens(a,b):
    """
    LESSER OF TWO EVENS: Function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd
lesser_of_two_evens(2,4) --> 2
lesser_of_two_evens(2,5) --> 5
    """
    if a%2 ==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [89]:
lesser_of_two_evens(2,4)

2

In [90]:
lesser_of_two_evens(2,5)

5

In [93]:
def animal_crackers(text):
    """
    ANIMAL CRACKERS: Function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False
    """
    words=text.split()
    return words[0][0] == words[1][0]

In [94]:
animal_crackers('Levelheaded Llama')

True

In [95]:
animal_crackers('Crazy Kangaroo')

False

In [100]:
def makes_twenty(n1,n2):
    """
    MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False
    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False
    """
    return (n1+n2)==20 or n1==20 or n2==20

In [101]:
makes_twenty(20,10)

True

In [102]:
makes_twenty(2,3)

False

In [103]:
makes_twenty(12,8)

True

In [106]:
def old_macdonald(name):
    """
    OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
    old_macdonald('macdonald') --> MacDonald

    Note: 'macdonald'.capitalize() returns 'Macdonald'
    """
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return 'Name is too short!'

In [107]:
# Check
old_macdonald('macdonald')

'MacDonald'

In [116]:
def master_yoda(text):
    """
    MASTER YODA: Given a sentence, return a sentence with the words reversed
    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'

    Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

    This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"
    """
    words = text.split()
    return " ".join(words[::-1])

In [117]:
words = 'I am home'.split()
words[::-1]

['home', 'am', 'I']

In [118]:
# Check
master_yoda('I am home')

'home am I'

In [119]:
# Check
master_yoda('We are ready')

'ready are We'

In [128]:
def almost_there(n):
    """
    ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True

    NOTE: abs(num) returns the absolute value of a number
    """
    return abs(100-n) <= 10 or abs(200-n) <= 10

In [130]:
# Check
almost_there(104)

True

In [131]:
# Check
almost_there(150)

False

In [132]:
# Check
almost_there(209)

True

In [133]:
almost_there(90)

True

In [134]:
def has_33(nums):
    """    
    FIND 33:
    Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False
    """
    for i in range(len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
    return False

In [135]:
# Check
has_33([1, 3, 3])

True

In [136]:
# Check
has_33([1, 3, 1, 3])

False

In [137]:
# Check
has_33([3, 1, 3])

False

In [138]:
def paper_doll(text):
    """
    PAPER DOLL: Given a string, return a string where for every character in the original there are three characters¶
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'
    """
    new_text=''
    for ch in text:
        new_text += (ch*3)
    return new_text

In [139]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [140]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [143]:
def blackjack(a,b,c):
    """    
    BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum.
    If their sum exceeds 21 and there's an eleven, reduce the total sum by 10.
    Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19
    """
    sum_num = sum((a,b,c))
    if sum_num >21 and 11 in (a,b,c):
        sum_num -= 10
    if sum_num <=21:
        return sum_num  
    return 'BUST'

In [144]:
# Check
blackjack(5,6,7)

18

In [145]:
# Check
blackjack(9,9,9)

'BUST'

In [146]:
# Check
blackjack(9,9,11)

19

In [147]:
def summer_69(arr):
    """
    SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14
    """
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [148]:
# Check
summer_69([1, 3, 5])

9

In [149]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [150]:
# Check
summer_69([2, 1, 6, 9, 11])

14

In [151]:
def spy_game(nums):
    """
    SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order¶
    spy_game([1,2,4,0,0,7,5]) --> True
    spy_game([1,0,2,4,0,5,7]) --> True
    spy_game([1,7,2,0,4,5,0]) --> False
     """
    code = [0,0,7,'x']
    
    for num in nums:
        if num == code[0]:
            code.pop(0)   # code.remove(num) also works
       
    return len(code) == 1

In [152]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [153]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [154]:
# Check
spy_game([1,7,2,0,4,5,0])

False

In [158]:
def count_primes(num):
    """    
    COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

    By convention, 0 and 1 are not prime.
    """
    primes = [2]
    x = 3
    if num < 2:  # for the case of num = 0 or 1
        return 0
    while x <= num:
        for y in range(3,x,2):  # test all odd factors up to x-1
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [161]:
list(range(3,5,2))

[3]

In [160]:
# Check
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [162]:
def count_primes2(num):
    primes = [2]
    x = 3
    if num < 2:
        return 0
    while x <= num:
        for y in primes:  # use the primes list!
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [163]:
count_primes2(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [164]:
def print_big(letter):
    """
    PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')

    out:   *  
          * *
         *****
         *   *
         *   *
    HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. 
    For purposes of this exercise, it's ok if your dictionary stops at "E".
    """
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [165]:
print_big('a')

  *
 * *
*****
*   *
*   *

# Lambda Expressions, Map and Filter

In [166]:
class Singleton(object):
     def __new__(cls):
       if not hasattr(cls, 'instance'):
         cls.instance = super(Singleton, cls).__new__(cls)
       return cls.instance

s = Singleton()
print("Object created", s)

s1 = Singleton()
print("Object created", s1)

Object created <__main__.Singleton object at 0x00000275A5D787F0>
Object created <__main__.Singleton object at 0x00000275A5D787F0>

In [167]:
class Singleton:
    __instance = None
    def __init__(self):
        if not Singleton.__instance:
            print(" __init__ method called..")
        else:
            print("Instance already created:", self.getInstance())
    @classmethod
    def getInstance(cls):
        if not cls.__instance:
            cls.__instance = Singleton()
        return cls.__instance


s = Singleton() ## class initialized, but object not created
print("Object created", Singleton.getInstance()) # Object gets created here
s1 = Singleton() ## instance already created

 __init__ method called..
 __init__ method called..
Object created <__main__.Singleton object at 0x00000275A5D67C18>
Instance already created: <__main__.Singleton object at 0x00000275A5D67C18>

In [168]:
def square(num):
    return num**2

In [169]:
my_nums = [1,2,3,4,5]

In [171]:
list(map(square, my_nums))

[1, 4, 9, 16, 25]

In [172]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    return mystring[0]

In [173]:
names = ['Andy', 'Eve', 'Sally']

In [174]:
list(map(splicer, names))

['EVEN', 'E', 'S']

In [175]:
def check_even(num):
    return num%2 == 0

In [176]:
my_nums = [1,2,3,4,5,6]

In [177]:
list(filter(check_even, my_nums))

[2, 4, 6]

In [178]:
for n in filter(check_even, my_nums):
    print(n)

2
4
6

In [183]:
#Lambda expression, Anonymous function
square = lambda num: num**2

In [185]:
square(5)

25

In [186]:
list(map(lambda num: num**2, my_nums))

[1, 4, 9, 16, 25, 36]

In [187]:
list(filter(lambda num: num%2 == 0, my_nums))

[2, 4, 6]

In [188]:
names

['Andy', 'Eve', 'Sally']

In [189]:
list(map(lambda name: name[0], names))

['A', 'E', 'S']

In [190]:
list(map(lambda name: name[::-1], names))

['ydnA', 'evE', 'yllaS']

In [191]:
x = 25
def printer():
    x = 50
    return x

In [192]:
print(x)

25

In [193]:
print(printer())

50

In [194]:
print(x)

25

# LEGB Rule:
- L: Local - Names assigned in any way within a function (def or lambda), and not declared global in that function.
- E: Enclosing function locals - Names in the local scope of any and all enclosing functions (defs or lambda), from inner to outer
- G: Global (module) - Names assigned at the top-level of a module file, or declared global in a def within the file.
- B: Built-in (Python) - Names preassigned in the built-in names module: open, range, Syntax Error,...

In [ ]:
# lambda num: num**2

In [7]:
# GLOBAL
name = 'THIS IS A GLOBAL STRING'
def greet():
    #ENCLOSING
    name = 'Sammy'
    def hello():
        #LOCAL
        name = "I'M A LOCAL"
        print('Hello ' + name)
    hello()
greet()

Hello I'M A LOCAL

In [9]:
#BUILT_IN
len

In [10]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [21]:
x=50
def func(x):
    print(f'X is {x}')
    # LOCAL REASSIGNMENT!
    x = 200
    print(f'I JUST LOCALLY CHANGED x to {x}')

In [22]:
func(x)

X is 50
I JUST LOCALLY CHANGED x to 200

In [23]:
print(x)

50

In [24]:
def func():
    global x
    print(f'X is {x}')
    # LOCAL REASSIGNMENT ON A GLOBAL VARIABLE!
    x = 'NEW VALUE'
    print(f'I JUST LOCALLY CHANGED GLOBAL x to {x}')

In [25]:
print(x)

50

In [26]:
func()

X is 50
I JUST LOCALLY CHANGED GLOBAL x to NEW VALUE

In [27]:
print(x)

NEW VALUE

In [28]:
x=50
def func(x):
    
    print(f'X is {x}')
    # LOCAL REASSIGNMENT ON A GLOBAL VARIABLE!
    x = 'NEW VALUE'
    print(f'I JUST LOCALLY CHANGED x to {x}')
    return x

In [29]:
print(x)

50

In [30]:
x = func(x)

X is 50
I JUST LOCALLY CHANGED GLOBAL x to NEW VALUE

In [31]:
print(x)

NEW VALUE

## Functions and Methods Homework Solutions
#### Write a function that computes the volume of a sphere given its radius.

In [32]:
def vol(rad):
    return (4.0/3)*(3.14)*(rad**3)

#### Write a function that checks whether a number is in a given range (inclusive of high and low)

In [33]:
def ran_check(num, low, high):
    if num in range(low, high+1):
        print("{} is in the range".format(num))
    else:
        print("{} is not in the range".format(num))

In [34]:
def ran_check_bool(num, low, high):
    return num in range(low, high+1)

In [35]:
ran_check_bool(3,1,10)

True

#### Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.
```
Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
Expected Output : 
No. of Upper case characters : 4
No. of Lower case Characters : 33
```
If you feel ambitious, explore the Collections module to solve this problem!

In [1]:
def up_low(s):
    d={"upper":0, "lower":0}
    for c in s:
        if c.isupper():
            d["upper"]+=1
        elif c.islower():
            d["lower"]+=1
        else:
            pass
    print("Original String : ", s)
    print("No. of Upper case characters : ", d["upper"])
    print("No. of Lower case Characters : ", d["lower"])

In [2]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String :  Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters :  4
No. of Lower case Characters :  33

#### Write a Python function that takes a list and returns a new list with unique elements of the first list.
```
Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
Unique List : [1, 2, 3, 4, 5]
```

In [3]:
def unique_list(l):
    # Also possible to use list(set())
    x = []
    for a in l:
        if a not in x:
            x.append(a)
    return x

In [4]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

#### Write a Python function to multiply all the numbers in a list.
```
Sample List : [1, 2, 3, -4]
Expected Output : -24
```

In [5]:
def multiply(numbers):  
    total = 1
    for x in numbers:
        total *= x  
    return total

In [6]:
multiply([1,2,3,-4])

-24

#### Write a Python function that checks whether a passed string is palindrome or not.

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [7]:
def palindrome(s):
    
    s = s.replace(' ','') # This replaces all spaces " " with no space ''. (Fixes issues with strings that have spaces)
    return s == s[::-1] # Check through slicing

In [8]:
palindrome('nurses run')

True

In [9]:
palindrome('abcba')

True

#### Hard:

Write a Python function to check whether a string is pangram or not.
```
Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
For example : "The quick brown fox jumps over the lazy dog"
```
Hint: Look at the string module

In [10]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):  
    alphaset = set(alphabet)  
    return alphaset <= set(str1.lower())

In [11]:
ispangram("The quick brown fox jumps over the lazy dog")

True

In [12]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'